html
{
	font-size: 62.5%;
}
*
{
	box-sizing: border-box;
}
body
{
	background-image: url(../img/background.jpg);
	font-size: 2.5em;
}
header
{
	background-color: rgba(117,32,32,0.6);
	justify-content: space-around;
	border: 3px solid darkgrey;
	border-radius: 25px;
}
h1
{
	text-align: center;
	text-shadow:12px 12px 12px black;
	color: gold;
	font-size: 3.5em;
}
h2
{
	text-shadow:12px 12px 12px black;
	color: gold;
	font-size: 3em;
	text-align: center;
}
header h1 a
{
	text-decoration: none;
	color: gold;
}
header>a
{
	position: absolute;
	top: 20px;
	right: 20px;
	text-decoration: none;
	color: white;
}
li a
{
	text-decoration: none;
	color: blue;
	font-size: 2em;
}
